@charset 'utf-8';

@font-face
{
  font-family: 'Multicolore';
  src: url('assets/game/fonts/multicolore.woff2') format('woff2'),
       url('assets/game/fonts/multicolore.woff')  format('woff');
}

html, body
{
  height: 100%;

  margin: 0;
  padding: 0;
}

.container
{
  display: flex;

  height: 100%;
  width: 100%;

  justify-content: center;
  flex-direction: column;

  flex-basis: 0;
}

.game-content
{
  display: flex;

  justify-content: center;
  text-align: center;

  flex-wrap: wrap;
  flex-direction: column;
}

.footer
{
  margin-top: 10px;

  font-family: 'Multicolore', sans-serif;
  text-align: center;

  color: #191919;
}

.footer a
{
  text-decoration: none;
}
