*.sublime-workspace

*.gb
*.o
*.obj
*.db
*.exe
*.pdb
*.apk

gbasm/.bgbemu
gbdk/.bgbemu

tiny-raycaster/binary/*.ppm
tiny-raytracer/binary/*.ppm

gbadev/**/*.o
gbadev/**/*.d
gbadev/**/*.map
gbadev/**/*.elf
gbadev/**/*.gba
gbadev/**/*.sav

emscripten/**/*.wasm
emscripten/**/*.js
emscripten/**/*.html
